
<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Año</th>
			<th>Director</th>
			<th>Productor</th>
			<th>Episodio</th>
		</tr>
	</thead>

	<tbody>
		<% @peliculas.each do |pelicula| %>
		<tr>
			<td><%= link_to pelicula['title'],{controller: "app" , action:"peliculas", url:pelicula["url"]} %></td>
			<td><%= pelicula['release_date'] %></td>
			<td><%= pelicula['director'] %></td>
			<td><%= pelicula['producer'] %></td>
			<td><%= pelicula['episode_id'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

